.category-list {
  font-size: 0.8em;
  ul {
    margin-top: 4px;
    li {
      @include transition(all,0.5s);
      padding: 2px 0px;
      padding-left: 15px;
      cursor: pointer;
      a {
        color: #666;
        &:hover {
          i:before {
            content: "\f111"
          }
          color: $base-accent-color;
        }
      }
      span.count {
        margin-left: 10px;
        float: right;
        color: #999;
      }
    }
  }
}
