= simple_form_for [:admin, @category] do |f|
  =f.input :name
  =f.input :parent_id,
    collection: category_options(@category),
    label: 'Parent category',
    include_blank: 'No parent'
  hr/
  =f.label :header_content
  pre#editor.category-editor =@category.header_content
  =f.hidden_field :header_content
