= form_for @article, url: url do |f|
  .title-input
    =f.label :title
    =f.text_field :title
  .content-input
    =f.label :content
    =f.text_area :content
  .tag-input
    =f.label :tags
    =f.select :tag_ids, Tag.all.collect {|x| [x.name, x.id]}, {},
      :multiple => true
  =f.submit
