.header {
  @include clearfix;
  .breadcrumb {
    float: left;
    margin-bottom: 20px;
    ul {
      li {
        display: inline-block;
        font-size: 0.6em;
        font-weight: bold;
        a {
          color: #999;
          &:hover {
            color: #666;
            text-decoration: underline;
          }
        }
        &:after {
          color: #999;
          margin-left: 5px;
          margin-right: 5px;
          font-family: FontAwesome;
          content: "\f105";
        }
        &:last-child {
          a {
          }
          &:after {
            content: '';
          }
        }
      }
    }
  }
  .actions {
    float: right;
    font-size: 0.8em;
    a {
      @include transition(all,0.5s);
      color: #ccc;
      padding: 3px 5px;
      border: 1px solid transparent;
      &:hover {
        color: #444;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
    }
  }
}
.details {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $base-border-color;
}

.inline-detail {
  span {
    font-size: 0.8em;
    color: #999;
  }
}
.inline-title {
  font-size: 0.8em;
  color: #888;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  &:after {
    content: ':';
  }
}
.article-container {
  max-width: 800px;
  margin: auto;
  .tags {
    .tag {
      display: inline-block;
      a {
        @include transition(all,0.5s);
        font-size: 0.8em;
        color: #888;
        &:hover {
          color: #444;
          text-decoration: underline;
        }
      }
    }
  }
}
.article {
  p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #444;
  }
  p.subtitle {
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: 300;
    color: #777;
  }
  p.subtitle+p {
    margin-top: 40px;
  }
}
.category-container {
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  @include row(table);
  margin: auto;
  max-width: 90%;
  background: white;
  .category-list {
    @include span-columns(3);
    width: 200px;
    vertical-align: top;
    border-right: 1px solid $base-border-color;
    .category {
      a {
        display: block;
        padding: 6px 15px;
        border-bottom: 1px solid $base-border-color;
        font-size: 0.9em;
        color: #777;
        &:hover {
          background: #f9f9f9;
        }
      }
      &.active {
        display: block;
        padding: 6px 12px;
        border-bottom: 1px solid $base-border-color;
        font-size: 0.9em;
        background: $base-accent-color;
        color: white;
      }
    }
    .sub-categories {
      .sub-category {
        a {
          font-size: 0.75em;
          display: block;
          padding: 4px 20px;
          color: #666;
          border-bottom: 1px solid transparent;
          &:hover {
            background: #f9f9f9;
            border-bottom: 1px solid $base-border-color;
          }
        }
      }
    }
  }
  .article-list {
    @include span-columns(9);
    @include pad;
    vertical-align: top;
    .article-item {
      .title {
        a {
          font-size: 0.9em;
          color: #161616;
          font-weight: bold;
          &:hover {
            color: $base-accent-color;
          }
        }
      }
      .description {
        font-size: 0.8em;
      }
    }
  }
}
