.site-footer {
  margin: auto auto;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  color: #aaa;
  font-size: 0.6em;
  a {
    color: #777;
    &:hover {
      color: #151515;
    }
  }
}
