.action-header {
  @include clearfix;
  margin-top: 10px;
  padding: 0px 5px;
  font-size: 0.9em;
  line-height: 0.9em;
  .left {
    float: left;
  }
  .right {
    float: right;
    text-align: right;
  }
  a {
    @include transition(all, 0.5s);
    color: #aaa;
    margin-right: 25px;
    i {
      color: #888;
    }
    &:hover {
      color: #333;
      i {
        color: #121212;
      }
    }
  }
}

$nav-height: 60px;
.header {
  font-family: 'Open Sans';
  .nav {
    @include clearfix;
    height: $nav-height;
    @include linear-gradient(#444,#161616);
    padding-left: 30px;
    a,.brand {
      line-height: $nav-height;
    }
    .brand {
      float: left;
      color: #fff;
      font-size: 24px;
      font-weight: 300;
      i {
        margin-right: 15px;
      }
      strong {
        font-weight: 700;
      }
    }
    .right {
      float: right;
      padding-right: 20px;
      a {
        color: #888;
        font-size: 1.2em;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
$search-height: 35px;
#article-search {
  @include transition(all, 0.5s);
  @include clearfix;
  margin-top: ($nav-height / 2) - ($search-height / 2);
  .input-container {
    float:left;
    width: 0px;
    background: #454545;
    input.search-input {
      width: 100%;
      opacity: 0;
      background: #454545;
      color: #f5f5f5;
      border: none;
      padding: 0px 8px;
      height: $search-height;
      &:focus {
        outline: none;
      }
    }
  }
  .button-container {
    float: right;
    button {
      @include transition(all, 0.5s);
      height: $search-height;
      background: transparent;
      width: $golden * $search-height;
      border: none;
      color: #aaa;
      font-size: 1.2em;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: #454545;
      }
    }
  }
  &.active {
    .input-container {
    }
    .button-container {
      button {
        background: #454545;
      }
    }
  }
}


.submenu {
  background: #f9f9f9;
  border-bottom: 1px solid $base-border-color;
  font-size: 0.8em;
  text-align: right;
  padding: 0px 20px;
  height: 35px;
  line-height: 35px;
  a {
    color: #888;
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    &:hover {
      color: #444;
    }
  }
}
