.search {
  @include clearfix;
  width: 480px;
  margin: auto;
  margin-bottom: 20px;
  input {
    float:left;
    @include border-left-radius(5px);
    border: 1px solid $base-border-color;
    width: 400px;
    padding: 0px 8px;
    height: 35px;
    box-shadow: none;
    &:hover, &:active {
      -webkit-appearance:none;
      outline: 0;
      box-shadow: none;
      border: 1px solid $base-border-color;
    }
  }
  button {
    @include border-right-radius(5px);
    border: 1px solid #161616;
    background: #161616;
    color: white;
    float: left;
    height: 35px;
    width: 35px * $golden;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
}
p {
  font-size: 0.8em;
}
.articles {
  @include row;
  @include pad;
  min-height: 300px;
  .section {
    @include span-columns(6);
  }
}
.categories {
  font-size: 0.8em;
  text-align: left;
  @include display(flex);
  @include flex(1);
  @include flex-direction(row);
  @include align-items(stretch);
  @include justify-content(center);
  @include flex-wrap(wrap);
  .category-block {
    min-width: 100px;
    padding: 10px;
    .category {
      margin-top: 10px;
      a {
        color: #888;
        line-height: 1;
        font-weight: 500;
        &:hover {
          color: #333;
        }
      }
    }
  }
  .sub-category {
    line-height: 1.1em;
    a {
      font-size: 0.8em;
      color: #aaa;
      line-height: 1;
      font-weight: 400;
      &:hover {
        color: #333;
      }
    }
  }
}


.landing-wrapper {
  background-color: #fff;
  @include pad;
}

.category-container {
  @include pad;
  background: #f9f9f9;
  border-top: 1px solid #eee;
  h2 {
    margin: auto auto;
    text-transform: uppercase;
    padding: 5px 8px;
    width: 80%;
    font-size:1em;
    color: #aaa;
    text-align: center;
    font-weight: bold;
    line-height: 1;
  }
}
