.page-container {
  @include pad;
  @include clearfix;
  background: #fff;
  box-shadow: 1px 1px 1px darken($base-background-color, 15);
  border: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}

.center-container {
  @include outer-container;
  @include pad;
}
