
.split-view {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  @include row(table);
  margin: auto;
  max-width: 90%;
  background: white;
  .menu {
    @include span-columns(3);
    width: 200px;
    vertical-align: top;
    border-right: 1px solid $base-border-color;
    .menu-item {
      a {
        display: block;
        padding: 6px 15px;
        border-bottom: 1px solid $base-border-color;
        font-size: 0.9em;
        color: #777;
        &:hover {
          background: #f9f9f9;
        }
      }
      &.active {
        display: block;
        padding: 6px 12px;
        border-bottom: 1px solid $base-border-color;
        font-size: 0.9em;
        background: $base-accent-color;
        color: white;
      }
    }
    .sub-menu {
      .sub-menu-item {
        a {
          font-size: 0.75em;
          display: block;
          padding: 4px 20px;
          color: #666;
          border-bottom: 1px solid transparent;
          &:hover {
            background: #f9f9f9;
            border-bottom: 1px solid $base-border-color;
          }
        }
      }
    }
  }
  .content {
    @include span-columns(9);
    @include pad;
    vertical-align: top;
  }
}
