
.split-view {
  overflow: hidden;
  min-height: 500px;
  @include row(table);
  border-bottom: 1px solid $base-border-color;
  background: white;
  .menu {
    @include span-columns(3);
    background: #f9f9f9;
    padding-top: 20px;
    width: 200px;
    vertical-align: top;
    border-right: 1px solid $base-border-color;
    .menu-item {
      a {
        @include transition(all,0.5s);
        display: block;
        padding: 7px 9px;
        font-size: 0.9em;
        color: #444;
        font-weight: 500;
        &:hover {
          background: #e5e5e5;
        }
        i {
          margin-right: 10px;
        }
      }
      &.active {
        display: block;
        font-size: 0.9em;
        @include linear-gradient($base-accent-color, darken($base-accent-color,10));
        a {
          color: white;
          &:hover {
            color: white;
            background: transparent;
          }
        }
      }
    }
    .sub-menu {
      .sub-menu-item {
        a {
          font-size: 0.75em;
          font-weight: bold;
          display: block;
          padding: 4px 20px;
          color: #444;
          border-bottom: 1px solid transparent;
          &:hover {
            color: #080808;
          }
        }
        &.active {
          a {
            color: $base-accent-color;
          }
        }
      }
    }
  }
  .content {
    @include span-columns(9);
    @include pad;
    vertical-align: top;
  }
}
